Dear professor,

We have received your assessment for the following class: 

= render :partial => 'shared/notification_course_info'}, :locals => { course: @course, test: @test  }

- unless @custom_text.blank?
  = strip_tags(@custom_text)

You can review your feedback here:

- if @test
  (link to assessment)
- else
  #{"#{site_url}#{assessment_path(@assessment)}"}
