.form_wrapper
  %h4 Scheduling
  .form_full_width
    = f.input :duration,                                                      |
      :as => :number,                                                         |
      :min => 0, :max => 3, :step => 0.5, :only_integer => false,             |
      :label => "Class Duration (hours): ",                                   |
      :input_html => {:maxlength => 4, :placeholder => "e.g. 1.5"  }          |
  .form_full_width
    %p Depending on your teaching needs and class size, we offer the following options:
    %ul
      %li If you would like to bring your class in only one time, please make a single request with your preferred date and time.
      %li If you would like your class to meet at the Ransom Center more than one time per semester, please select Multiple class sessions.
      %li If you have TA-led sections or would like to break your large class into multiple sections (for large classes that exceed room capacity), please select multiple sections.
    %p Please enter your preferred date and time for each class visit. If your only options for scheduling fall outside normal business hours, please use the note field to detail your availability.
    %p Final scheduling of a class visit is subject to both room and staff availability.

  = render :partial => 'scheduling_block'

  - if current_user.can_schedule?
    .form_full_width.admin-box
      %label Confirm class date/time
      .checkbox
        = check_box_tag 'send_timeframe_email', 1, false, :class => 'checkbox'
        Check to send email notification of confirmed or changed class date/time to requester.
      %br/
      %br/
  #form_full_width
    = render partial: 'repositories/technologies', locals: { technologies: @course.item_attributes, all_technologies: @all_technologies }
    %br/
    = f.input :comments,                                                                                                                                                                                                                       |
      :label => "If you have any special room arrangements or further instructions regarding your class visit, please enter them below. It is also helpful to note any accessibility issues the library/archive can endeavor to accommodate.", |
      :input_html => { :rows => 5, :cols => 30 }                                                                                                                                                                                               |
  .form_full_width
    %br/
    %p Be sure to review your information and make any edits before submitting your request.
    %p Please note that some of the information you provide may be used in reports and promotional materials.
